

.cards{
	padding: 8px;
	width:100% ;
	background-color: grey;
	border-radius: 10px;
	margin-top: 10px;
}
.cartContainer{
	overflow: auto;
	border-left:0.1px solid rgba(0, 0, 0, 0.5);
	box-shadow: 5px 20px 30px rgba(0, 0, 0, 1);
	transition-duration: 1s;
	z-index: 1;
	position: absolute;
	flex-direction: flex-end;
	right:0.1px;
	width: 28%;
	float: right;
	height: 100vh;
	background-color: white;

}

.cardImg{
	width: 100px;
	height: 100px;
	float: left;
	border-radius: 10px;
}

.Cartright{

	width:70px;
	float: right;
	margin-left: 10px;
}
.closeBtn{
	color:black;
	border:none;
	font-size: 25px;
	font-weight: 700;
	background: transparent;
}

.blackBox{
display: flex;
padding: 2px;
justify-content:center;
color: white;
  width:100vw;
  height: 25px;
}

.p-text{
	font-size: 12px;
}
.downBox{
	padding: 10px;
	display: flex;
	justify-content:space-around;
}

.deleteBtn{
	display: flex;
	align-items: center;
	background-color: transparent;
	border-radius: 10px;
	width:25px;
	height: 100px;
}

.price-txt{
	float: right;
}