@import url('https://fonts.googleapis.com/css2?family=Meddon&family=Rubik&display=swap');

#CatImg{
 width:120%;
 height: 120%;
 margin-top:-50px ;
 margin-left: -50px;
 transform: scale(1);
 transform: translate(0px,0px);
 border-radius: 20px;
 transition: box-shadow 0.5s, transform 0.5s;
}

#CatImg:hover{

	transform: translate(25px,25px);
	transition: box-shadow 0.5s, transform 0.5s;
}

#hide{

	
/*	background-color: black(0,0,0, 0.9);*/
	color: white;
	font-weight: bold;
	position: absolute;
	transform: translate(-50%, -50%);
	z-index: 0;
	width: 100%;
	padding:10px;
	text-align: center;
	position: absolute;
	top: 92%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.containers{
	cursor: pointer;
/*	background-color: white !important;*/
		box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.8);
		width:32%;
		height: 350px!important;
		border-radius:20px;
		position: relative;
	  	text-align: center;
		overflow: hidden;
/*		margin-left: 5px;*/
		margin-top:3%;
/*		margin:5px;*/
}
.containers:hover{
/*	transition:0.5s;*/
	transform: scale(0.9);
  box-shadow: 5px 20px 30px rgba(0, 0, 0, 1);
}

@media only screen and (max-width: 600px) {
 .containers{

 }
}

.h1f{
		font-family: 'Meddon', cursive;
   font-family: 'Rubik', sans-serif;
   font-weight: 400;
}
.btn5{
	
	border:none;
	font-weight: 700;
	background-color:#347758;
	

}
.btn5:hover{
background-color: #d7d7d7;
font-weight: 700;
color:black;
border: none;

}


@media only screen and (max-width: 768px){
	
	.containers{
		width: 90%;
		height: 280px !important;
		flex-shrink: 0;
		
		transform: scale(0.9);
		
	}
	
}