.titleTxt{
	font-weight: 700 !important;
	font-size: 25px;
	color:#198754;
}
.navs-link{
	list-style-type: none;
	font-size: 18px;
	padding: 5px;
}

.navs-link:hover{

	color:#0E260F;
	font-weight: 700;
	cursor: pointer;
}
.shadow{

/*	padding: 25px;*/
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 1.0);
}

.map{
	border:1px solid rgba(0, 0, 0, 0.5);
}

.foot{
	float:right;
	
	background-color: white !important;

}

.imgLogo{
	margin: 40px;
	position: absolute;

}
.BoxBox{
	width: 30%;
	height: auto;
}

.leftLeft{
	margin-left: 20%;
}



.custom-shape-divider-top-1677764087 {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1677764087 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 153px;
}

.custom-shape-divider-top-1677764087 .shape-fill {
    fill: red !important;
}