.PaginationValue{
	border:1px solid black;
	height: 30px;
	width: 30px;
	cursor: pointer;
	margin: 5px
}
.pagination_container {
	width: "100%";
	align-items: center;
	justify-content: center;
	margin-top: 10px;
}
.PaginationSelectedValue {
	border:1px solid black;
	height: 30px;
	width: 30px;
	cursor: pointer;
	margin: 5px;
	background-color:gray;
}