.containerss{
	box-shadow: rgb(0, 0, 0,0.5);
	border: 2px solid rgb(0, 0, 0,0.3);
	width:120px;
	height: 46px;
	padding: 5px;
	border-radius: 5px;
/*  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);*/
}
.addBtn{
	margin-top:-8px;
	width:45px;
	height:100%;
	font-size: 10px;
	background-color: transparent;
/*	background-color:rgb(190,227,248,0.9) ;*/
	text-align: center;
	cursor: pointer;
	border:none;
	font-size: 19px;
	font-weight: 700;
	color:#4e96d6;
}
.addBtn:hover{
transform: scale(0.9);

}
.textfield{
	margin-top:-5px;
	font-size: 22px;
	padding: 4px;
	text-align: center;
	width:35px;
	height:35px;
	background-color:transparent ;
}
.radius-left{
/*	border-radius: 30px;*/
}

.radius-right{
/*	border-radius: 30px;*/

}