*{
  padding: 0;
  margin: 0;

}
.container-box{
  width: 100vw;

}
.imgBoxs{
	width:100%;
	height: 100%;
}

.imgLeft{
/*  background-color: red;*/
/*	width:50%;*/
	height: 500px;
}

.insideImg{
  border-radius: 30px;
	float: right;
}

.RightDetail{
	width: 100%;
	height: 100%;
}

.proDetails{
  display: flex;
}

.rating{
  width:60px;
  height: 25px;
  font-weight: 700;
  background-color: green;
  color: white;
  border-radius: 20px;
  padding: 0px 0px 2px 5px;
}

.buttons{
/*  margin-left: 10%;*/
}
.btn1:hover{
color:white;
font-weight: 700;
/*font-size: 18px;*/
}
.btn1{
  margin-left:1%;
  width: 200px;
  height: 50px;
}
.buyBtn{
  background-color: red;
  color: white;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.5);

}
.buyBtn:hover{
  border: 2px solid black;
  transition: transform 0.1s;
  transform: scale(0.9);
  color:black;
}

.AddBtn{
  margin-left: 30px;
  background-color: #198754;
  color: white;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.5);
}
.AddBtn:hover{
  background-color: transparent;
  border: 2px solid black;
  transition: transform 0.1s;
  transform: scale(0.9);
  color:black;
}

.cartBtn1{
   margin-left: 30px;
  background-color: orange;
  color: white;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.5);
}
.cartBtn1:hover{
   background-color: transparent;
  border: 2px solid black;
  transition: transform 0.1s;
  transform: scale(0.9);
  color:black;
}

.single-pro-qty-box{
  display: flex;
}

@media only screen and (max-width: 768px){
  .mainBox-mobile{
    width: 100%;
    margin-top: 25% !important;
  }
  .imgLeft{
    padding: 10%;
    width: 100%;
    height: 100%;
  }
  .Single-product-description{
    width: 90% !important;
    
  }
  .Single-product-qtyBtn{
    margin-left: 150px !important;
    margin-top: -18%;
  }
  .Single-product-btn{
   margin-left: 0%;
    
  }
  .exclusive-products{
    width: 100%;
   overflow:scroll ;
   padding-left: 1280px;
  }
  .single-pro-qty-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: center;
    flex-direction: row;
  }
  .btn1{
    margin-left: 0px !important;
  }
  .AddBtn{
    
    margin-left: 0px !important;
  background-color: #198754;
  color: white;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.5);
  }
  .cartBtn1{
    margin-left: 0px !important;
    background-color: orange;
    color: white;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.5);
  }
}