.feeds{
  margin-top: 45px;
  column-gap:5px;
  display: flex;
}
.feedBox{
  margin-top: 3% !important;
  width:400px;
  height:auto;
  padding:10px;
  margin:0;
  border-radius: 50px;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.5);
  background-color: white;
  z-index: 1;
  transition: 1s ease;
  transform: scale(0.9);
  
 
}

.feedBox:hover {
  transform: scale(1);
  transition: 0.5s;
  border:1px solid green;
  box-shadow: 2px 2px 2px 2px rgba(0, 128, 0, 1);
}

.feedBox p{
  padding: 10px;
  line-height: 30px;
  font-size: 16px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
 
.feedBox h5{
  margin-top: 10px;
  font-size:20px;
  font-weight: 700;
  float: right;
}

@media only screen and (max-width: 768px){
  
  .feeds{
    margin-left: 28%;
    display: flex;
    justify-content: center !important;
    /* flex-direction: column; */
    padding: 0;
    column-gap: 100px;
    
  }

  .feedBox{
    margin-top: 10px !important;
    margin-left: -80px;
    width: 280px !important;
    height: auto;
  }

  .feedBox:hover{
    margin-top: 10px !important;
    border:1px solid green;
  box-shadow: 2px 2px 2px 2px rgba(0, 128, 0, 1);
  }
  
  .feedBox p{
    padding: 10px;
    font-size: 12px;
    line-height: 15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
   
  .feedBox h5{
    margin-top: 10px;
    font-size:17px;
    font-weight: 700;
    float: right;
  }
  .SlideArrow{
  float: right;
  margin-top: -25px;
  }
  
}