.feeds{
  margin-left: 80px;
}
.feedBox{
  margin-top: 3% !important;
  width:31%;
  height:280px;
  padding:10px;
  margin:7px;
  border-radius: 50px;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.5);
  background-color: white;
  z-index: 1;
  transition: 1s ease;
 
}

.feedBox:hover {
  margin-top: -3% !important;
  transition: 0.5s;
  border:1px solid green;
  box-shadow: 2px 2px 2px 2px rgba(0, 128, 0, 1);
}

.feedBox p{
  padding: 10px;
  line-height: 30px;
  font-size: 16px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
 
.feedBox h5{
  margin-top: 10px;
  font-size:20px;
  font-weight: 700;
  float: right;
}